
@import '../css/variables';

$card-height: 40rem;
//$img-height: 15rem;

.card{
//----------------------
// ROTATE CARD - functioning
  position:relative;
  //perspective enhances
  //flip effect rotateY effect
  perspective: 100rem;
  min-height: $card-height;
  
  &-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    //position front and back
    //on the top of eachother
    position:absolute;
    top:0; left:0;
    //set with to 100% 
    width:100%;
    //hide element after is rotated to back (180deg)
    backface-visibility: hidden;
    //background-color: orangered;
    min-height: $card-height;
    border-radius: 3px;
    box-shadow: $box-shadow-md;
    transition: all .7s ease;
  }

  &-front{
    background-color: $light-color;
  }
  &-back{
    //background-image: linear-gradient(to right bottom, $color-1st-light,$color-1st-dark);
    transform: rotateY(-180deg);

    &-title{
      font-size: $font-size-lg;
      color: $light-color;
      text-transform: uppercase;
      font-weight: $font-weight-sm;
    }

    &-price{
      color: $light-color;
      font-size: 9rem;
      font-weight: $font-weight-xs; 
    }
  }

  //when hover over card ROTATE child 
  //element with class card-side for 180deg over y-axe
  //it creates flip effect
  &:hover &-front{
    transform: rotateY(180deg);
  }
  &:hover &-back{
    transform: rotateY(0deg);
  }

//--------------------------
// STYLES

  &-image{
    flex:1;
    width: 100%;
    background-size: cover;
    //min-height: $img-height;
    //this blends gradient and image
    background-blend-mode: screen;
    //this clips image at bottom right
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }

  //defined images 
  &-image.img-0{
    background-image: linear-gradient(to right bottom, 
      $color-2nd-light,$color-2nd-dark),
      url('../../assets/img/nat-5.jpg');
  }

  &-image.img-1{
    background-image: linear-gradient(to right bottom, 
      $color-1st-light,$color-1st-dark),
      url('../../assets/img/nat-6.jpg');
  }

  &-image.img-2{
    background-image: linear-gradient(to right bottom, 
      $color-3rd-light,$color-3rd-dark),
      url('../../assets/img/nat-7.jpg');
  }

  &-heading{
    position: absolute;
    top: 2rem; right:2rem;
    width: 10rem;
    font-size: $font-size-lg;
    font-weight: $font-weight-md;
    text-align: right;
    color: $light-color;
    background-color: rgba($color-2nd-dark,.8);
    padding: $rem-sm;
    border-radius: 3px;
    //box-decoration-break: clone;
  }

  &-body{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding: $rem-3x 0;
    //text-align: center;
    ul{
      list-style: none;
      //when using undeline
      //to prevent line going
      //all the way
      width: 80%;
      margin: 0, auto;
      li{
        text-align: center;
        font-size: $font-size-md;
        padding: $rem-md;
        &:not(:last-child){
          border-bottom: 1px solid lighten($grey-color,40%);
        }
      }
    }
  }

  &-back-0{
    background-image: linear-gradient(to right bottom, $color-2nd-light,$color-2nd-dark);
  }

  &-back-1{
    background-image: linear-gradient(to right bottom, $color-1st-light,$color-1st-dark);
  }

  &-back-2{
    background-image: linear-gradient(to right bottom, $color-3rd-light,$color-3rd-dark);
  }
}

//no text select on all elements
.card *{
  user-select: none;
} 
