
@import '../css/variables';
@import '../css/media';

.tours{
  //margin-top: -5rem;
  padding: 20rem 0;
  background-color: lighten($grey-color, 45%);

  @include responsive(sm){
    padding: 7rem 0;
  }
}









