
//colors 
$light-color: #fff;
$grey-color: #777;
$dark-color: #333;
$light-color-contrast: $dark-color;
$dark-color-contrast: $light-color;

$primary-color: #7ed56f;
$primary-color-contrast: $dark-color;
$secondary-color: #55c57a;
$secondary-color-contrast: $dark-color;
$accent-color: #28b485;
$accent-color-contrast: $light-color;

$warn-color: darkred;
$warn-color-contrast: $light-color;

//settin hext in rgba variable is possible
//with scss code
$gradient-start:rgba(#7ed56f, 0.8);
$gradient-end:rgba(#28b485, 0.8);

//size steps
$rem-xs: 0.25rem;
$rem-sm: 0.50rem;
$rem-md: 0.75rem;
$rem-lg: 1rem;
$rem-xl: 1.5rem;
$rem-2x: 2rem;
$rem-3x: 3rem;
$rem-4x: 4rem;
$rem-5x: 5rem;

//fonts 
$font-family: 'Lato', sans-serif;
/* use $rem-xs for font-size*/

$font-weight-xs: 100;
$font-weight-sm: 300;
$font-weight-md: 400;
$font-weight-lg: 700;
$font-weight-xl: 900;

//line height is the ratio 
//maybe use mixin for it?
$line-height-xs: 1;
$line-height-sm: 1.2; 
$line-height-md: 1.4; 
$line-height-lg: 1.6; 
$line-height-xl: 1.8; 
$line-height-2x: 2;

//box shadows
$box-shadow-color: rgba(0,0,0,.2);
$box-shadow-xs: 0 0.1rem 0.5rem $box-shadow-color;
$box-shadow-sm: 0 0.2rem 1rem $box-shadow-color;